body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #020014;
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

#comenzar_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition-duration: 0.9s;
    background-color: #0f0004;
    background-image: url("https://www.transparenttextures.com/patterns/soft-kill.png");
}

#comenzar_boton {
    padding: 12pt;
    background-color: #9B001C;
    border-width: 0;
    border-radius: 10pt;
    text-transform: uppercase;
    transition-duration: 0.3s;
    color: #c1e2b3;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
    outline: none;
}

#comenzar_boton:hover {
    background-color: #b40525;
    color: #d5ebcc;
    cursor: pointer;
}

main {
    background-color: #3b2000;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    width: 55%;
    height: 94vh;
    border-radius: 20pt;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    display: none;
    box-shadow: 0 0px 15px rgb(36, 0, 0);
}

img {
    border-width: 2pt;
    border-style: solid;
    border-radius: 8pt;
}

#texto {
    width: 95%;
    text-align: justify;
    text-indent: 1em;
    height: 38%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 15pt;
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 1.6em;
    word-spacing: 0.2em;
    border-radius: 5pt;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.02);
}

#siguiente_contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#siguiente_boton {
    padding: 8pt 14pt 8pt 14pt;
    background: rgba(112, 5, 5, 0.993);
    border-width: 0;
    border-radius: 10pt;
    transition-duration: 0.5s;
    color: #eee1e1;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    outline: none;
}

#siguiente_boton:hover {
    background: rgba(134, 5, 5, 0.993);
    color: #dde9d9;
    cursor: pointer;
}

.siguiente_boton:active {
    border-radius: 10pt !important;
    background-color: rgba(233, 250, 0, 0.541) !important;
}

.siguiente_boton_disabled {
    background: rgba(107, 38, 38, 0.993) !important;
    color: #c7c0c0 !important;
}

.siguiente_boton_disabled:hover {
    cursor: progress !important;
}

#opciones_contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boton_opcion {
    padding: 4pt 10pt 4pt 10pt;
    background: rgba(38, 0, 143, 0.993);
    border-width: 0;
    border-radius: 8pt;
    transition-duration: 0.5s;
    color: #eee1e1;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    outline: none;
    margin: 0pt 4pt 0 4pt;
}

.boton_opcion:hover {
    background: rgba(54, 0, 202, 0.993);
    cursor: pointer;
}

.boton_opcion:active {
    border-radius: 8pt;
    background-color: rgba(233, 250, 0, 0.363);
}

.disabled {
    background: rgba(104, 104, 104, 0.568);
}

.disabled:hover {
    cursor: not-allowed;
    background: rgba(128, 128, 128, 0.568);
}

#respuesta {
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    word-spacing: 0.2em;
    color: #4e0000;
    text-shadow: 0 0 3px rgba(158, 158, 158, 0.726)
}

::-webkit-scrollbar {
    width: 9pt;
}

::-webkit-scrollbar-track {
    background: rgba(187, 132, 132, 0.295);
    border-radius: 10pt;
}

::-webkit-scrollbar-thumb {
    background: rgba(112, 5, 5, 0.616);
    border-radius: 10pt;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(112, 5, 5, 0.76);
}

@media (max-width: 1336px) {
    main {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    main {
        width: 70%;
    }
}

@media (min-width: 800px) {
    img {
        height: 35vh;
    }
    #texto {
        height: 35vh;
    }
    #siguiente_boton {
        margin: 5vh 0 5vh 0;
    }
    .boton_opcion {
        margin-top: 3vh;
    }
}

@media (max-width: 800px) {
    main {
        width: 90%;
    }
    img {
        width: 95%;
        height: 35vh;
    }
    #texto {
        height: 35vh;
        width: 95%;
        font-size: 1em;
        padding: 5pt;
        box-shadow: 0 0px 5px rgba(22, 22, 22, 0.411);
    }
    #siguiente_boton {
        margin-top: 6vh;
        padding: 7pt 8pt 7pt 8pt;
        font-size: 0.9em;
    }
    #opciones_contenedor {
        flex-direction: column;
        align-items: center;
    }
    .boton_opcion {
        margin-bottom: 4pt;
    }
    #respuesta {
        font-size: 1.1em;
    }
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 3s;
}

.animate__animated.animate__bounceIn {
    --animate-duration: 3s;
}

.spinner {
    width: 7vmin;
    height: 7vmin;
    border-style: solid;
    border-radius: 100%;
    border-width: 3vmin;
    border-color: rgb(202, 202, 202) rgb(87, 5, 5)  rgb(202, 202, 202) rgb(82, 6, 6);
    animation-name:rotation;
    animation-duration:3s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    box-shadow: 0 0px 30px rgba(192, 179, 144, 0.863);

}
@keyframes rotation {
    0%{
        transform:rotate(0deg) ;
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
       transform:rotate(360deg);
    }
}

#modal {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.473);
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible{
    display: none !important;
}